* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f5f7fb;
  color: #293264;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/blue-blob.svg), url(assets/yellow-blob.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%, 100% 0%;
}

/* START GAME */

.start-content,
.error-content {
  text-align: center;
  margin: 0 32px;
  max-width: 800px;
}

.start-content__heading,
.error-content__heading {
  font-family: "Karla", sans-serif;
  margin: 0;
  font-size: 2rem; /* 32px */
  line-height: 1;
}

.start-content__des {
  margin: 16px 0 24px;
}

.error-content__code {
  margin: 16px 0 0;
}

.error-content__des {
  margin: 8px 0 0;
}

/* BTNS */

.start-content__btn,
.quiz__btn,
.quiz__new-game-btn {
  background-color: #4d5b9e;
  color: #f5f7fb;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem; /* 16px */
  font-weight: 500;
  line-height: 1;
  padding: 16px 56px;
  border-radius: 8px;
  cursor: pointer;
}

.start-content__btn:hover {
  background-color: #d6dbf5;
  color: #293264;
}

.quiz__btn:hover,
.quiz__new-game-btn:hover {
  background-color: #fffad1;
  color: #293264;
}

/* FORM */

.quiz {
  margin: 40px 32px;
  width: 100%;
  max-width: 800px;
}

.quiz__submit,
.quiz__results {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.quiz__error,
.quiz__total {
  margin: 0;
  line-height: 1;
}

.quiz__total {
  font-weight: 700;
}

/* MEDIA QUERIES */

@media (max-width: 767px) {
  .quiz__btn,
  .quiz__new-game-btn {
    width: 100%;
  }
}

@media (min-width: 550px) and (max-width: 767px) {
  .quiz {
    margin: 40px 72px;
  }
}

@media (min-width: 550px) {
  .start-content,
  .error-content {
    margin: 0 72px;
  }
}

@media (min-width: 768px) {
  .start-content__heading,
  .error-content__heading {
    font-size: 3rem; /* 48px */
  }
  .start-content__des,
  .error-content__code {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }

  .quiz {
    margin: 48px 72px 40px;
  }

  .quiz__results {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .quiz__total {
    font-size: 1.5rem; /* 24px */
  }
}
