* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f5f7fb;
  color: #293264;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/blue-blob.svg), url(assets/yellow-blob.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%, 100% 0%;
}

.start-content {
  text-align: center;
}

.start-content__heading {
  font-family: "Karla", sans-serif;
}

.start-content__heading {
  margin: 0;
  font-size: 2rem; /* 32px */
  line-height: 1;
}

.start-content__des {
  margin: 16px 0 24px;
}

.start-content__btn {
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 16px 56px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.start-content__btn:hover,
.start-content__btn:active {
  background-color: #d6dbf5;
  color: #293264;
}
