.quiz__item {
  border: none;
  border-bottom: 1px solid #dbdef0;
  padding: 0 0 40px;
  margin: 40px 0 0;
}

.quiz__item:first-child {
  margin: 0;
}

.quiz__question {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  padding: 0;
}

.quiz__answers {
  margin: 24px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
}

.quiz__answer {
  width: 100%;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  /* padding: 8px 16px; */
  text-align: center;
  cursor: pointer;
}

.quiz__answer input {
  appearance: none;
  margin: 0;
}

.quiz__answer-text {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  padding: 8px 16px;
  cursor: pointer;
}

.quiz__answer--checked {
  background-color: #d6dbf5;
  border-color: #d6dbf5;
}

.quiz__answer--correct,
.quiz__answer--wrong,
.quiz__answer--other-answers {
  cursor: default;
}

.quiz__answer--correct .quiz__answer-text,
.quiz__answer--wrong .quiz__answer-text,
.quiz__answer--other-answers .quiz__answer-text {
  cursor: text;
}

.quiz__answer--correct {
  background-color: #94d7a2;
  border-color: #94d7a2;
}

.quiz__answer--wrong {
  background-color: #f8bcbc;
  color: #29326480;
  border-color: #f8bcbc;
}

.quiz__answer--other-answers {
  color: #29326480;
  border-color: #29326480;
}

@media (min-width: 768px) {
  .quiz__answers {
    flex-direction: row;
    align-items: stretch;
    column-gap: 24px;
  }

  .quiz__answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
